<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
</style>
</head>
<body>
	<div id="refresh-cache-modal" v-cloak>
		<div v-if="refreshCacheFlag">
			<div class="modal-mask">
				<div class="modal-wrapper">
					<div class="modal-dialog betting-order-details-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">刷新缓存</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="refreshCacheFlag = false">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group row">
										<div class="col-sm-12">
											<div class="custom-control custom-checkbox custom-control-inline">
												<input type="checkbox" class="custom-control-input" id="cacheConfigItem" v-model="refreshConfigItem"> <label class="custom-control-label" for="cacheConfigItem">配置项</label>
											</div>
											<div class="custom-control custom-checkbox custom-control-inline">
												<input type="checkbox" class="custom-control-input" id="cacheDict" v-model="refreshDict"> <label class="custom-control-label" for="cacheDict">字典数据</label>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-success btn-sm" v-on:click="refreshCache">确定</button>
								<button type="button" class="btn btn-sm" v-on:click="refreshCacheFlag = false">取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var refreshCacheModal = new Vue({
			el : '#refresh-cache-modal',
			data : {
				refreshCacheFlag : false,
				refreshConfigItem : true,
				refreshDict : true
			},
			computed : {},
			created : function() {
			},
			methods : {
				openRefreshCacheModal : function() {
					this.refreshCacheFlag = true;
				},

				refreshCache : function() {
					var cacheItems = [];
					var that = this;
					if (that.refreshConfigItem) {
						cacheItems.push('config*');
					}
					if (that.refreshConfigItem) {
						cacheItems.push('dict*');
					}
					if (cacheItems.length == 0) {
						layer.alert('请勾选要刷新的缓存项', {
							title : '提示',
							icon : 7,
							time : 3000
						});
						return;
					}
					that.$http.post('/masterControl/refreshCache', cacheItems).then(function(res) {
						layer.alert('操作成功!', {
							icon : 1,
							time : 3000,
							shade : false
						});
						that.refreshCacheFlag = false;
					});
				}
			}
		});
	</script>
</body>
</html>
