<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>充值订单</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="https://cdn.bootcss.com/dayjs/1.7.8/dayjs.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.1/bootstrap-table.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.1/bootstrap-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.1/locale/bootstrap-table-zh-CN.min.js"></script>
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://unpkg.com/art-template@4.13.2/lib/template-web.js"></script>
<link href="/css/common/common.css" rel="stylesheet" type="text/css">
<script id="recharge-order-detail" type="text/html">
	<div class="table-detail">
		<div class="row">
				<div class="col-sm-5 table-detail-item-label">订单有效时间:</div>
				<div class="col-sm-7 table-detail-item-value">{{rechargeOrderInfo.usefulTime }}</div>
		</div>	
		<div class="row">
				<div class="col-sm-5 table-detail-item-label">系统处理时间:</div>
				<div class="col-sm-7 table-detail-item-value">{{rechargeOrderInfo.dealTime }}</div>
		</div>	
		<div class="row">
				<div class="col-sm-5 table-detail-item-label">备注:</div> 
				<div class="col-sm-7 table-detail-item-value">{{rechargeOrderInfo.note }}</div>
		</div>	
		<div class="row">
				<div class="col-sm-5 table-detail-item-label">支付地址:</div>
				<div class="col-sm-7 table-detail-item-value">{{rechargeOrderInfo.payUrl }}</div>
		</div>
	</div>
</script>
<style type="text/css">
</style>
</head>

<body>
	<div th:replace="common/header::html"></div>
	<div id="recharge-order" v-cloak>
		<form class="form-inline common-query-cond-form" action="#">
			<div class="form-group common-query-cond">
				<label>订单号:</label><input type="text" class="form-control-sm" v-model="orderNo">
			</div>
			<div class="form-group common-query-cond">
				<label>充值方式:</label> <select class="form-control-sm" v-model="rechargeWayCode">
					<option value="">请选择</option>
					<option v-for="dictItem in rechargeWayDictItems" :value="dictItem.dictItemCode">{{dictItem.dictItemName}}</option>
				</select>
			</div>
			<div class="form-group common-query-cond">
				<label>订单状态:</label> <select class="form-control-sm" v-model="orderState">
					<option value="">全部</option>
					<option v-for="dictItem in rechargeOrderStateDictItems" :value="dictItem.dictItemCode">{{dictItem.dictItemName}}</option>
				</select>
			</div>
			<div class="form-group common-query-cond">
				<label>提交时间:</label><input type="date" class="form-control-sm" v-model="submitStartTime"><span>到</span><input type="date" class="form-control-sm" v-model="submitEndTime">
			</div>
			<button type="button" class="btn btn-danger btn-sm" v-on:click="refreshTable">搜索</button>
		</form>
		<table class="common-table recharge-order-table"></table>
	</div>
	<script src="/js/recharge-order.js"></script>
</body>
</html>